
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Testing homepage
      </h1>{{releaseVersion | log }}
      <p>
        This page has the links to the different pages of guidance we would like to test.</p>
        <p>Test 1 to 4 has short paragraphs of text and test 5 and 6 has longer content. Not all pages need to be tested.</p>
      </p>

      <h2 class="govuk-heading-m">Test pages:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/test-page-1">Test 1</a>
        </li>
        <li>
          <a href="/test-page-2">Test 2</a>
        </li>
        <li>
          <a href="/test-page-3">Test 3</a>
        </li>
        <li>
          <a href="/test-page-4">Test 4</a>
        </li>
        <li>
          <a href="/long-content-test-1">Test 5</a>
        </li>
        <li>
          <a href="/long-content-test-2">Test 6</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
