
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Testing homepage
      </h1>{{releaseVersion | log }}
      <p>
        This page has the links to the different pages of guidance we would like to test.
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>Some text about what this is about...</p>

      <h2 class="govuk-heading-m">Pages to test</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/test-page-1">Test page 1</a>
        </li>
        <li>
          <a href="/test-page-2">Test page 2</a>
        </li>
        <li>
          <a href="/test-page-3">Test page 3</a>
        </li>
        <li>
          <a href="/test-page-4">Test page 4</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
