
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="/index" class="govuk-back-link">Back to homepage</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">
  
      <div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-8 govuk-!-margin-bottom-0">
        <span class="govuk-caption-xl gem-c-title__context">
          Guidance
        </span>
        <h1 class="gem-c-title__text govuk-heading-xl">
          ​​Eligibility for the pupil premium grant (PPG) for the financial year beginning on 1 April 2021
        </h1>
      </div>
        <p class="publication-header__last-changed">Updated 10 March 2021</p>
      
        </header>
        <br>
        <main>
          <h2 class="gem-c-title__text govuk-heading-l">Ever 6 free school meals children</h2>
      <p>
        For mainstream and special schools, the pupil premium for 2021/2022 will include pupils recorded in the October 2020 school census.
      </p>

      <p>For pupil referral units, the pupil premium for 2021/2022 will include pupils recorded in the January 2021 school census.</p>
  
      <p>For the purposes of these grant conditions, these pupils are collectively called Ever 6 FSM.</p>

      <h2 class="gem-c-title__text govuk-heading-l">Children with no recourse to public funds (NRPF)</h2>
      <p>For 2021 to 2022, pupil premium eligibility is being extended to pupils eligible for free school meals under the temporary extension set out in the coronavirus (COVID-19): temporary extension of free school meals eligibility to NRPF groups guidance.</p>

  
    <h2 class="gem-c-title__text govuk-heading-l">Children adopted from care or who have left care</h2>
    <p>For mainstream and special schools, the pupil premium for the 2021/22 academic year will include pupils recorded in the October 2020 school census, who were looked after by an English or Welsh local authority immediately before being adopted. They are referred to as post-LAC in these conditions of grant.</p>
    
    <p>For pupil referral units, the pupil premium for 2021/22 will include post-LAC pupils recorded in the January 2021 school census.</p>
    </main>
    </div>
  </div>

{% endblock %}
