
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="/index" class="govuk-back-link">Back to homepage</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">
  
      <div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-8 govuk-!-margin-bottom-0">
        <span class="govuk-caption-xl gem-c-title__context">
          Guidance
        </span>
      <h1 class="gem-c-title__text govuk-heading-xl">
        Funding for initial teacher training (ITT)
      </h1>
    </div>
      <p class="publication-header__last-changed">Updated 10 September 2021</p>
    
      </header>
      <br>
      <main>
        <h2 class="gem-c-title__text govuk-heading-l">Overview</h2>
    
        <p>
      The Department for Education (DfE) is responsible for:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>managing grant funding associated with initial teacher training (ITT)</li>
      <li>monitoring the public cost of student loans accessed by trainees</li>
    </ul>
    <p>This guidance refers to ITT funding for the 2021 to 2022 academic year. For the 2020 to 2021 academic year, read <a href="https://www.gov.uk/government/publications/funding-initial-teacher-training-itt">Funding: initial teacher training (ITT), academic year 2020 to 2021.</a></p>

    <h2 class="gem-c-title__text govuk-heading-l">Postgraduate bursaries and scholarships</h2>
    <p>Bursaries and scholarships are available to trainees on tuition fee-based teacher training courses in England that lead to the award of qualified teacher status (QTS).</p>
  <p>For 2021/2022, we are offering bursaries of:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>£24,000 in chemistry, computing, maths and physics</li>
    <li>£10,000 in languages and classics</li>
    <li>£7,000 in biology</li>
  </ul>
  <p>Applicants may be eligible for a bursary if they have a 1st, 2.1 or 2.2, or if they hold Master’s or PhD.</p>

  <h2 class="gem-c-title__text govuk-heading-l">Undergraduate bursary</h2>
  <p>Final year undergraduates may be eligible for a training bursary of £9,000 if:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>they’re studying a qualified teacher status (QTS) course in secondary mathematics or physics</li>
    <li>they’re studying an opt-in QTS course in secondary undergraduate computing, languages, mathematics or physics</li>
    <li>their course started in 2021 to 2022</li>
  </ul>
  <p>They will receive the bursary in the final year of their course.</p>
  </main>
  </div>
</div>

{% endblock %}
