
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="/index" class="govuk-back-link">Back to homepage</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">
  
      <div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-8 govuk-!-margin-bottom-0">
        <span class="govuk-caption-xl gem-c-title__context">
          Guidance
        </span>
      <h1 class="gem-c-title__text govuk-heading-xl">
        Children with no recourse to public funds (NRPF)
      </h1>
    </div>
      <p class="publication-header__last-changed">Updated 10 January 2021</p>
    
      </header>
      <br>
    <p>
      For 2021 to 2022, pupil premium eligibility is being extended to pupils eligible for free school meals. This change is set out in the coronavirus (COVID-19): temporary extension of free school meals eligibility to NRPF groups guidance.
    </p>

  </div>
</div>

{% endblock %}
