
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="/index" class="govuk-back-link">Back to homepage</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">
    
        <div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-8 govuk-!-margin-bottom-0">
          <span class="govuk-caption-xl gem-c-title__context">
            Guidance
          </span>
        <h1 class="gem-c-title__text govuk-heading-xl">
          Department for Education financial support for teacher training
        </h1>
      </div>
        <p class="publication-header__last-changed">Updated 3 November 2020</p>
      
        </header>
        <br>
      <p>
        The Department for Education recently announced details of financial support for further education teacher training for the 2020 to 2021 academic year.</p>
        <p>The financial support will be available for priority subjects, for skilled non-graduates as well as graduates.
      </p>

    </div>
  </div>

{% endblock %}
