
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="/index" class="govuk-back-link">Back to homepage</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">
  
      <div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-8 govuk-!-margin-bottom-0">
        <span class="govuk-caption-xl gem-c-title__context">
          Guidance
        </span>
      <h1 class="gem-c-title__text govuk-heading-xl">
        Undergraduate teacher training bursary
      </h1>
    </div>
      <p class="publication-header__last-changed">Updated 10 September 2021</p>
    
      </header>
      <br>
      <main>
    <p>
      Final year undergraduates may be eligible for a training bursary of £9,000 if their course started in 2021/22 academic year. They will receive the bursary in the final year of their course.
    </p>
  </main>
  </div>
</div>

{% endblock %}
